<div class="reading" ng-click="showDetails = !showDetails">
	<div class="meter-name">
		{{ ::data.sensor }}
	</div>

	<div class="value-container">
		<div class="icon">
			<i class="wi wi-thermometer"></i>
		</div>

		<div class="value">
			{{ ::data.temp | number : 1 }} °C
		</div>
	</div>

	<div class="value-container" ng-if="::data.obsolete">
		<div class="icon">
			<i class="wi wi-na"></i>
		</div>
	</div>

	<div class="value-container" ng-if="::data.hum">
		<div class="icon">
			<i class="wi wi-sprinkles"></i>
		</div>

		<div class="value">
			{{ ::data.hum | number }} %
		</div>
	</div>

	<div ng-if="showDetails" class="details-container">
		<div class="icon">
			<i class="wi wi-time-2"></i>
		</div>

		<div class="value">
			{{ ::data.time | date:'HH:mm:ss' }}
		</div>


		<div class="icon">
			<i class="wi wi-lightning"></i>
		</div>

		<div class="value">
			{{ ::data.inputVoltage }} mV
		</div>
	</div>
</div>
