body {
	font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

header {
    background-color: rgb(0, 87, 163);
    padding: 0.75em;
    color: white;
}

.page-title {
    display: inline-block;
    margin-left: 0.25em ;
    margin-right: 0.5em ;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
	display: inline-block;

}

.menu li {
    display: inline-block;
    margin: 0 0.5em;
}

.menu li a {
    padding: 0.5em;
	color: white;
    text-decoration: none;
}

.menu .icon {
    padding-right: 0.25em;
}

.content {
    margin: 5px;
}

.refresh-button {
	border: 0;
    color: rgb(0, 87, 163);
	background-color: transparent;
	cursor: pointer;
    font-size: 2em;
    vertical-align: middle;
}

.reading {
	font-size: 16px;
	margin-bottom: 1px;
	width: 275px;
	background-color: rgb(0, 87, 163);
	color: white;
	padding: 5px;
}

.reading  .meter-name {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	text-align: center;
}

.reading .value-container {
	display: inline-block;
}

.reading .icon {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	font-size: 35px;
}

.reading  .value {
	vertical-align: middle;
	display: inline-block;
}

.measure-date {
	color: rgb(0, 87, 163);
	padding-top: 10px;
}

.chart-legend {
    list-style-type: none;
    padding-left: 0;
}

.chart-legend li {
    display: inline-block;
    padding-right: 20px;
}

.chart-legend .color-vis {
    display: inline-block;

    width: 14px;
    height: 14px;

    border: 1px solid black;
    border-radius: 2px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak {
  display: none !important;
}

.history-controls {
	padding-bottom: 15px;
}

.input-container {
	margin-right: 15px;
}

input {
	padding: 4px;
}

