body {
	font-family: 'Ubuntu', sans-serif;
}

.page-title {
	color: rgb(0, 87, 163);
}

ul.menu {
    list-style-type: none;
    padding-left: 0;
}

ul.menu li {
    display: inline-block;
    margin-right: 1em;
}

ul.menu li a {
    padding: 0.25em;
}

.refresh-button {
	border: 0px;
	background-color: transparent;
	cursor: pointer;
	font-size: 28px;
	color: rgb(0, 87, 163);
}

.reading {
	font-size: 16px;
	margin-bottom: 1px;
	width: 275px;
	background-color: rgb(0, 87, 163);
	color: white;
	padding: 5px;
}

.reading  .meter-name {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	text-align: center;
}

.reading  .value-container {
	display: inline-block;
}

.reading  .icon {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	font-size: 35px;
}

.reading  .value {
	vertical-align: middle;
	display: inline-block;
}

.measure-date {
	color: rgb(0, 87, 163);
	padding-top: 10px;
}

.chart-legend {
    list-style-type: none;
    padding-left: 0;
}

.chart-legend li {
    display: inline-block;
    padding-right: 20px;
}

.chart-legend .color-vis {
    display: inline-block;

    width: 14px;
    height: 14px;

    border: 1px solid black;
    border-radius: 2px;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
  display: none !important;
}
